@model Lucid.Web.Models.ExpenseModels.EditExpenseVm;
@{
    ViewData["Title"] = "Edit";
}

<style>
    .card-title {
        float: none;
        text-align: center;
        margin: 0;
    }
</style>
<div class="row pt-1">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Add New Custome</h3>
        </div>
        <form class="form-horizontal" asp-action="Create">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ExpenseType" class="control-label"></label>
                            <select asp-for="ExpenseType" asp-items="Model.ExpenseTypeSelectList" class="form-control">
                                <option>--Select--</option>
                            </select>
                            <span asp-validation-for="ExpenseType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ExpenseDate" class="control-label"></label>
                            <input type="text" asp-for="ExpenseDate" class="form-control" id="datePicker" data-toggle="datetimepicker" />
                            <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Save</button>
                <a class="btn btn-default float-right" asp-action="Index">Back</a>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial">
}

