@model Lucid.Web.Models.PaymentModels.CreatePaymentVm

@{
    ViewData["Title"] = "Create";
}


<style>
    .card-title {
        float: none;
        text-align: center;
        margin: 0;
    }
</style>
<div class="row pt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Add Payment</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
                    <div class="form-group">
                        <label asp-for="CustomerId" class="control-label"></label>
                        <select asp-for="CustomerId" class="form-control" asp-items="Model.Customers"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentDate" class="control-label"></label>
                        <input asp-for="PaymentDate" class="form-control datetimepicker-input" type="text" id="datePicker" data-toggle="datetimepicker" />
                        <span asp-validation-for="PaymentDate" class="text-danger"></span>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <a class="btn btn-default float-right" asp-action="Index">Back</a>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial">
}

